@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}*
body {
  /* background-color: rgb(243, 243, 243); */
  
  height: 100svh;
  /* overflow: hidden; */
}
/* .overlay {
  display: flex;
  background-color: #febcab;
  justify-content: space-between;
  opacity: 0.6;
  padding: 0 8px;
  /*box-shadow: 1px 1px 5px rgb(208, 203, 203); */
  /*position: absolute;
  height: 10vh;
  width: 100vw;
  z-index: -1;
} */
#navbar {
  /* background-color: #febcab; */
  display: flex;
  justify-content: space-between;
  padding: 0 1.30vw;
  color: black;
  font-size: 1rem;
  font-weight: 501;
  height: 9vh;
  background-color:rgb(249, 243, 243);
}
.none {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
}
.size {
  width: 20px;
}
.hidden {
  display: none !important;
}
.visible {
  display: flex !important;
}
.margin {
  margin: 10px;
}
#container1 {
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
}
#container1 img {
  margin: -5px 5px;
  color: rgb(54, 184, 205);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
}
.welcome {
  font-family: "Anton", sans-serif;
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  margin: auto;
  /* align-items: center; */
  height: 100vh;
  font-size: 4rem;
  font-weight: 1000;
  /* background-color:rgb(246, 233, 233);  */
}
#logo {
  width: 10vw;
}
.bef:hover{
  color: #1DC399;
}
#container3 {
  padding-right: 20px;
}
.two {
  display: flex;
  /* flex-direction: column; */
  gap: 25px;
}
#loggedinuser:hover .dropdown {
  color: grey;
  background-color: #1DC399;
}
#loggedinuser {
  cursor: pointer;
}
.dropdown {
  height: 0;
  width: 22vw;
  position: absolute;
  left: 72vw;
  transition: 0.5s all;
  overflow: hidden;
  z-index: 1;
}
@keyframes rotateZ {
  0% {
    opacity: 0;
    transform: translateZ(290px);
  }

  80% {
    transform: translateZ(10px);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
.inputMargin {
  margin-bottom: 10px;
  display: flex;
  justify-self: center;
  align-items: center;
  font-family: "Anton", sans-serif;
  font-family: "Poppins", sans-serif;
}
input {
  border: none;
  /* background: #f1f1f1; */
  outline: none;
  border-radius: 8px;
  padding: 8px 4px;
  margin: 5px 0 5px 0;
  width: 13vw;
}
.file #profile {
  background: none;
}
.choose {
  display: flex;
  align-items: center;
  justify-content: center;
  display: block !important;
}
.choose1 {
  position: absolute;
  border-radius: 5px;
  /* padding: 1vh 1vw; */
  border: none;
  color: white;
  cursor: pointer;
  width: 0;
  margin-left: 6vw;
}
button {
  float: right;
  border-radius: 5px;
  padding: 1vh 1vw;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  background-color: #1DC399;
  margin-top: 2vh;
  font-family: "Anton", sans-serif;
  font-family: "Poppins", sans-serif;
}
.updateimg {
  cursor: pointer;
}
label {
  font-size: small;
}
.spanupdate {
  font-family: "Anton", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: -1px;
  background-color:rgb(249, 243, 243);
  width: 15vw;
  height: 0;
  position: absolute;
  right: 13vh;
  transition: 0.5s all;
  overflow: hidden;
  padding: 0 2vw;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 1vw; */
  /* gap: 15px; */
  height: 7vh;
  width: 11vw;
  border: none;
  background: none;
  border-radius: 15px;
  cursor: pointer;
  flex-wrap: nowrap;
}

.lable {
  margin-top: 1px;
  font-size: 1rem;
  line-height: 22px;
  color: black;
  font-family: "Anton", sans-serif;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  width: 10vw;
}
.svg-icon {
  width: 24px;
  height: 24px;
}
.lable:hover{
  color: white;
}
.button:hover {
  /* background: #056bfa49; */
  background-color: #1DC399;
  color: white;
}

.button:hover .svg-icon{
  animation: spin 0.6s linear infinite;
}
.create-button:hover .svg{
  animation: spin 0.6s linear infinite;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-8deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#00C6FF, #0078FF);
} */
::selection{
  color: #fff;
  background: #1DC399;
}
.container{
  width: 500px !important;
  height: 0;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  transition: height 0.2s ease;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
  position: absolute;
  left: 35vw!important;
  top:12vh!important;
  transition: all 0.5s ease-in-out;
    --bs-gutter-x: 0!important; 
    --bs-gutter-y: 0!important;
    padding-right: calc(var(--bs-gutter-x) * 0)!important;
    padding-left: calc(var(--bs-gutter-x) * 0)!important;
    margin-right: 0 !important;

}
.container.active{
  height: 590px;
}
.container .wrapper{
  width: 1000px;
  display: flex;
}
.container .wrapper section{
  width: 500px;
  background: #fff;
}
.container img{
  cursor: pointer;
}
.container .post{
  transition: margin-left 0.18s ease;
}
.container.active .post{
  margin-left: -500px;
}
.post header{
  font-size: 22px;
  font-weight: 600;
  padding: 17px 0;
  text-align: center;
  border-bottom: 1px solid #bfbfbf;
}
.post form{
  margin: 20px 25px;
}
.post form .content,
.audience .list li .column{
  display: flex;
  align-items: center;
}
.post form .content img{
  cursor: default;
  max-width: 52px;
}
.post form .content .details{
  margin: -3px 0 0 12px;
}
form .content .details p{
  font-size: 17px;
  font-weight: 500;
}
.content .details .privacy{
  display: flex;
  height: 25px;
  cursor: pointer;
  padding: 0 10px;
  font-size: 11px;
  margin-top: 3px;
  border-radius: 5px;
  align-items: center;
  max-width: 98px;
  background: #E4E6EB;
  justify-content: space-between;
}
.details .privacy span{
  font-size: 13px;
  margin-top: 1px;
  font-weight: 500;
}
.details .privacy i:last-child{
  font-size: 13px;
  margin-left: 1px;
}
form :where(textarea, button){
  width: 100%;
  outline: none;
  border: none;
}
form textarea{
  resize: none;
  font-size: 18px;
  margin-top: 30px;
  min-height: 100px;
}
form textarea::placeholder{
  color: #858585;
}
form textarea:focus::placeholder{
  color: #b3b3b3;
}
form :where(.theme-emoji, .options){
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.theme-emoji img:last-child{
  max-width: 24px;
}
form .options{
  height: 57px;
  margin: 15px 0;
  padding: 0 15px;
  border-radius: 7px;
  border: 1px solid #B9B9B9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
form .options :where(.list, li),
.audience :where(.arrow-back, .icon, li .radio){
  display: flex;
  align-items: center;
  justify-content: center;
}
form .options p{
  color: #595959;
  font-size: 15px;
  font-weight: 500;
  cursor: default;
}
form .options .list{
  list-style: none;
}
.options .list li{
  height: 42px;
  width: 42px;
  margin: 0 -1px;
  cursor: pointer;
  border-radius: 50%;
}
.options .list li:hover{
  background: #f0f1f4;
}
.options .list li img{
  width: 23px;
}
form button{
  height: 53px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #BCC0C4;
  cursor: no-drop;
  border-radius: 7px;
  background: #e2e5e9;
  transition: all 0.3s ease;
}
form textarea:valid ~ button{
  color: #fff;
  cursor: pointer;
  background: #1DC399;
}
form textarea:valid ~ button:hover{
  background: #1DC399;
}
.container .audience{
  opacity: 0;
  transition: opacity 0.12s ease;
}
.container.active .audience{
  opacity: 1;
}
.audience header{
  padding: 17px 0;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #bfbfbf;
}
.audience header .arrow-back{
  position: absolute;
  left: 25px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 15px;
  color: #747474;
  border-radius: 50%;
  background: #E4E6EB;
}
.audience header p{
  font-size: 22px;
  font-weight: 600;
}
.audience .content{
  margin: 20px 25px 0;
}
.audience .content p{
  font-size: 17px;
  font-weight: 500;
}
.audience .content span{
  font-size: 14px;
  color: #65676B;
}
.audience .list{
  margin: 15px 16px 20px;
  list-style: none;
}
.audience .list li{
  display: flex;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 12px 10px;
  border-radius: 7px;
  align-items: center;
  justify-content: space-between;
}
.list li.active,
.audience .list li.active:hover{
  background: #E5F1FF;
}
.audience .list li:hover{
  background: #f0f1f4;
}
.audience .list li .column .icon{
  height: 50px;
  width: 50px;
  color: #333;
  font-size: 23px;
  border-radius: 50%;
  background: #E4E6EB;
}
.audience .list li.active .column .icon{
  background: #cce4ff;
}
.audience .list li .column .details{
  margin-left: 15px;
}
.list li .column .details p{
  font-weight: 500;
}
.list li .column .details span{
  font-size: 14px;
  color: #65676B;
}
.list li .radio{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #707070;
}
.list li.active .radio{
  border: 2px solid #1DC399;
}
.list li .radio::before{
  content: "";
  width: 12px;
  height: 12px;
  border-radius: inherit;
}
.list li.active .radio::before{
  background: #1DC399;
}
.create-post{
  margin-left: 1VW !important;
}
.create-button{
  position: absolute;
  margin-left: 3VW !important;
  margin-top: 2vh !important;

}
.post-area{
  width: 65%;
  margin: auto;
  border-left: 2px solid rgb(224, 222, 222);
  border-right: 2px solid rgb(224, 222, 222);
  /* border-top: 2px solid rgb(224, 222, 222); */
  border-radius: 5px;
  padding: 4vh 3vw;
  height: 100vh;
  margin-top: 1vh;
}