*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgb(243, 243, 243); */
    background: rgb(131,58,180);
  background: linear-gradient(-16deg, rgba(131,58,180,1) 5%, rgba(253,29,29,1) 40%, rgba(252,176,69,1) 110%);
  height: 100svh;
}
.overlay{
    display: flex;
    background-color: white;
    justify-content: space-between;
    opacity: 0.6;
    padding: 0 8px;
    /* box-shadow: 1px 1px 5px rgb(208, 203, 203); */
    position: absolute;
    height: 6vh;
    width: 100vw;
    z-index: -1;
}
#navbar{
    display: flex;
    /* background-color: transparent; */
    justify-content: space-between;
    padding: 0 8px;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    /* box-shadow: 1px 1px 5px rgb(208, 203, 203); */
    /* background: rgb(131,58,180); */
  /* background: linear-gradient(-16deg, rgba(131,58,180,1) 5%, rgba(253,29,29,1) 40%, rgba(252,176,69,1) 110%); */
}
.none{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}
.size{
    width: 20px;
}
.hidden{
    display: none !important;
}
.visible{
    display: flex !important;
}
.margin{
    margin: 10px;
}
#container1{
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}
#container1 span{
    margin: 0 5px;
    color: rgb(54, 184, 205);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}
.flex{
    display: flex;
    align-items: center;
}